@import "../../../styles/values";
@import "../../../styles/functions";


.form-element-container {

    position: relative;
    margin: 15px 10px 0 10px;
    width: calc(100% - 60px);
    min-width: 150px;
    max-width: 350px;
    box-sizing: border-box;
    background-color: inherit;

    .label {
        position:absolute;
        background-color: inherit;
        top: 10px;
        left: 15px;
        color: @gray-dark;
        .transition();

        &.label-icon-number {
            padding-left: 25px;
        }

        &.zoom-out {
            position: absolute;
            font-size: 11px;
            color: @gray-dark;
            top: -7px;
            background-color: inherit;
            z-index: 2;
            padding: 0 5px;
        }
    }

    .status-icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }
  
    .tooltip {
        display: block;
        top: 20px;
        position: absolute;
        right: 0px;

        .right {
            min-width:190px; 
            top:50%;
            left:100%;
            margin-left:20px;
            transform:translate(0, -20px);
            padding:0px 20px;
            color:@gray-xdark;
            background-color: @btn-text-w;
            font-weight:normal;
            font-size:13px;
            .border-radius(3px);
            position:absolute;
            z-index: 200;
            box-sizing:border-box;
            box-shadow:0 1px 8px rgba(0,0,0,0.5);
            display:block;
    
            i {
                position:absolute;
                top:20px;
                right:100%;
                margin-top:-12px;
                width:12px;
                height:24px;
                overflow:hidden;

                &::after {
                    content:'';
                    position:absolute;
                    width:12px;
                    height:12px;
                    left:0;
                    top:50%;
                    transform:translate(50%,-50%) rotate(-45deg);
                    background-color: @btn-text-w;
                    box-shadow:0 1px 8px rgba(0,0,0,0.5);
                }
            }        
        }
    }

    .message {
        color: @gray-xdark;
        font-size: 11px;
        opacity: 0.8;
        padding-left: 2px;        
    }    


    &.required {
        .message {
            color : @btn-cancel-bg;
        }

        input ,.textarea-wrapper {
            border-color: @btn-cancel-bg ;
        }            
    }

    &.warning-status {
        .label.zoom-out {
            color: @btn-regular-active-bg;
        }

        .message {
            color: @btn-regular-active-bg;
        }

        input ,.textarea-wrapper {
            border: 1.5px solid @btn-regular-active-bg ;
        }
        input {
            padding-right: 55px;
        }
    }

    &.error-status {
        .label.zoom-out {
            color: @btn-cancel-bg;
        }
        .message {
            color : @btn-cancel-bg;
        }
        input ,.textarea-wrapper {
            border: 1.5px solid @btn-cancel-bg;
        }
        input {
            padding-right: 55px;
        }
    }

    &:hover {
        .label ,.label.zoom-out{
            color: @gray-xdark;

        }

        input ,.textarea-wrapper {
            border: 1px solid @gray-xdark ;
            color: @gray-xxdark;
        } 
    }

    &.focused {
        .label.zoom-out {
            color: @cyan-dark;
        }

        .tooltip >.right {
            z-index: 300;
        }

        input ,.textarea-wrapper {
            border: 1.5px solid @cyan-dark;
            font-size:inherit;
            color: @gray-xxdark
        }
    }
}