@import '../../../styles/values';
@import '../../../styles/functions';

.form-element-container {
    position: relative;
    margin: 15px 0;
    width: 100%;
    min-width: 150px;
    max-width: 700px;
    box-sizing: border-box;
    border:1px solid transparent;
    background-color: inherit;

    .label {
        position: absolute;
        background-color: inherit;
        top: 6px;
        left: 13px;
        color: @gray-dark;
        .transition();

        &.label-icon-number {
            padding-left: 25px;
        }

        &.zoom-out {
            position: absolute;
            font-size: 11px;
            font-weight: 600;
            color: @gray-dark;
            top: -7px;
            background-color: inherit;
            z-index: 9;
            padding: 0 5px;
        }
    }

    .status-icon, .processing {
        position: absolute;
        right: 5px;
        top: 8px;
        height: 17px;
    }

    .processing {
        right: 8px;
        color: @gray-dark;
    }

    .tooltip {
        display: block;
        top: 20px;
        position: absolute;
        right: 0px;

        .right {
            min-width: 190px;
            top: 50%;
            left: 100%;
            margin-left: 20px;
            transform: translate(0, -20px);
            padding: 0px 20px;
            color: @gray-xdark;
            background-color: @btn-text-w;
            font-weight: normal;
            font-size: 13px;
            .border-radius(3px);
            position: absolute;
            z-index: 200;
            box-sizing: border-box;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
            display: block;

            i {
                position: absolute;
                top: 20px;
                right: 100%;
                margin-top: -12px;
                width: 12px;
                height: 24px;
                overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    left: 0;
                    top: 50%;
                    transform: translate(50%, -50%) rotate(-45deg);
                    background-color: @btn-text-w;
                    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    .input-container {
        box-sizing: border-box;
        background-color: inherit;
        .border-radius(3px);
        border: 1px solid @gray-dark;
    }

    input,
    .form-input,
    .textarea-wrapper {
        border: 0;
        .border-radius(3px);
    }

    .message {
        color: @gray-xdark;
        font-size: 11px;
        opacity: 0.8;
        padding-left: 2px;
    }

    .input-container {
        &:hover {
            border-color: @gray-xdark;

            .label,
            .label.zoom-out {
                color: @gray-xdark;
            }

            input,
            .textarea-wrapper {
                color: @gray-xxdark;
            }
        }
    }

    &.required {
        .input-container {
            border-color: @btn-cancel-bg;
        }

        .message {
            color: @btn-cancel-bg;
        }
    }

    &.focused {
        .input-container {
            border: 1px solid @cyan-dark;

            .label.zoom-out {
                color: @cyan-dark;
            }

            input,
            .textarea-wrapper {
                font-size: inherit;
                color: @gray-xxdark;
            }
        }

        .tooltip > .right {
            z-index: 300;
        }
    }

    &.warning-status {
        .input-container {
            border: 1px solid @btn-regular-active-bg;

            .arrows {
                right: 30px;
            }

            .arrow-icon {
                right: 35px;
            }

            .selected-number {
                right: 55px;
            }
        }

        .label.zoom-out {
            color: @btn-regular-active-bg;
        }

        .message {
            color: @btn-regular-active-bg;
        }

        input {
            padding-right: 55px;
        }
    }

    &.error-status {
        .input-container {
            border: 1px solid @btn-cancel-bg;

            .arrows {
                right: 30px;
            }

            .arrow-icon {
                right: 35px;
            }

            .selected-number {
                right: 55px;
            }
        }

        .label.zoom-out {
            color: @btn-cancel-bg;
        }
        .message {
            color: @btn-cancel-bg;
        }

        input {
            padding-right: 55px;
        }
    }

    &.disabled {
        color: @gray-dark;
        cursor: not-allowed;
        .no-select();

        .input-container {
            border: 1px solid @gray-light;
        }

        .label.zoom-out {
        }
        input,
        textarea {
            cursor: not-allowed;
            color: inherit;
        }
    }
}
