@import "../../../styles/values";
@import "../../../styles/functions";


.singleline-input {

    input {
        width: 100%;
        height: 40px;
        padding: 10px 15px 5px 15px;
        opacity: 0.7;
        border: none;
        box-shadow: none;
        outline: none;
        box-sizing: border-box;
        .text-overflow();
        background-color: transparent;
        font-size:inherit;
        color: @gray-xdark;
        z-index: 1;
        text-transform: capitalize;
    }

    /* Chrome, Safari, Edge, Opera  to remove the arrows on input[type=number]*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    /* Firefox to remove the arrows on input[type=number]*/
    input[type=number] {
        -moz-appearance:textfield;
    }

    .upper-arrow{
        top: 5px;
    }

    .lower-arrow {
        top: 20px;
    }
    .arrows{
        position:absolute;
        right: 10px;

        path {
            fill: #908988;
        }

        &.error-or-warning {
            right: 38px;
        }

        &:hover {
            rect {
                fill: #A6DCE1;
            }
        }
        &:active {
            rect {
                fill: #A6DCE1;
            }
            path {
                fill: #009AA9;
            }
        }
    }

    .icon-numbers {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 3;
    }

    &.type-number {
        padding-left: 20px;
    }
}

.form-element-container {

    &.type-number {
        .label {
            left: 40px;
        }

        .singleline-input {
            padding-left: 25px;
        }
    }
}