@import '../../styles/values.less';
@import '../../styles/functions.less';
@import '../../styles/animation.less';

.dialog-container {
    .transition(opacity 200ms);
    position: fixed;
    filter: url('#dialog-shadow');
    opacity: 0;
    pointer-events: none;

    .delete {
        animation: scale-down-center 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    &.confirmation,
    &.prompt {
        .border-radius(5px);
        .drop-shadow(0 0 20px rgba(0, 0, 0, 0.15));
        background-color: white;
        display: block;
        overflow: auto;
        max-height: ~'calc(100% - 100px)';

        .panel-header {
            display: none;
        }

        .panel-content {
            .close {
                position: absolute;
                right: 15px;
                top: 11px;
            }
        }

        .content-wrapper {
            margin: 30px 20px 0px 30px;
            display: flex;
            flex-direction: column;

            .dialog-title {
                font-size: 18px;
                font-weight: 500;
                padding-bottom: 15px;
            }
            .dialog-message {
                text-align: center;
                font-size: 13px;
                padding-bottom: 25px;
                color: @dialog-gray-light;
            }
        }
    }

    &.confirmation {
        .checked-icon {
            position: absolute;
            top: 35%;
            left: 10%;
            max-width: 60px;
            max-height: 60px;
        }

        .content-wrapper {
            padding-left: 15%;
            justify-content: start;
            align-items: normal;

            .dialog-message {
                text-align: start;
                padding-bottom: 5px;
                height: 55px;
            }

            .form-container {
                width: fit-content;
                margin-left: -10px;

                .form-buttons {
                    margin: 0 auto;
                }
            }
        }
    }

    &.prompt {
        .content-wrapper {
            justify-content: center;
            align-items: center;

            .dialog-message {
                height: 50px;
            }
        }

        .form-container {
            width: 100%;

            .form-element-container {
                margin-bottom: 5px;

                .message {
                    display: none;
                }
            }

            .form-buttons {
                .kapeta-button {
                    right: 6px;
                }
            }
        }
    }

    .dialog-shape {
        overflow: visible;
        fill: #f3f3f3; //@bw-menu-dark;

        .dialog-title {
            .drop-shadow();
            font-size: 20px;
            font-weight: 600;
            fill: @bw-menu-dark;
            text-transform: capitalize;
        }
    }

    &.open {
        pointer-events: all;
        opacity: 1;
        &.delete {
            animation: scale-up-center 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
    }

    ~ .dialog-holder {
        .transition(all 200ms);

        &.dialog-opening {
            opacity: 1;
            animation: scale-up-center 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        filter: url('#dialog-shadow');

        .dialog-shape {
            fill: #f3f3f3; //@bw-menu-dark;
            overflow: visible;

            .dialog-title {
                .drop-shadow();
                font-size: 20px;
                font-weight: 600;
                fill: @bw-menu-dark;
                text-transform: capitalize;
            }
        }
        &.dialog-closing {
            animation: scale-down-center 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            opacity: 0;
            .dialog-shape {
                display: none;
            }
        }
    }
}
