@import '../../styles/values.less';
@import '../../styles/functions.less';

.tab-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .tab-buttons {
        flex:0;
    }
    .tab-buttons,
    .tab-buttons > li {
        list-style: none;
        padding:0;
        margin:0;
    }

    .tab-buttons > li {
        display: inline-block;

        button {
            .border-radius(0);
            background-color: transparent;
            border:0;
            font-size: 14px;
            line-height: 26px;
            padding:0 15px;
            cursor: pointer;

        }


        &.current {
            button {
                border-bottom:3px solid @gray-xdark;
            }
        }

    }

    .tab-pages {
        flex:1;
        border-top:1px solid @gray-light;
        overflow: auto;
    }
}