@import "../../styles/values";
@import "../../styles/functions";

.entity-form {
    
    .add-visible{
        .transition();
        transform: scale(1);
    }
    
    .add-hidden{
        .transition();
        transform: scale(0);
    }
    .no-select();
    width: 500px;
    overflow: hidden;
    background-color: white;
    border-right: 1px solid #C4C4C4;
    .field-row {
        display: flex;
        top:-1px;
        flex-wrap: nowrap;
        flex-flow: row;
        height: 44px;
        border: 1px solid #C4C4C4;
        margin: -1.5px;
        .delete-attribute-line{
            
            padding-left: 10px;
            padding-right: 10px;
            svg {
                overflow: visible;
                fill: @red-light;
                &:hover {
                    fill: blue;
                }
            }

        }
        > .mover, 
        > .grab-area,
        > .delete-attribute-line,
        > .opener {
            width: 24px;
            flex:1;
            vertical-align: middle;
            margin: auto;
            padding-right: 5px ;
            text-align: center;
            line-height: 24px;
            i {
                font-weight: 100;
                cursor: pointer;
                color: @gray;
            }

            &:hover {
                i {
                    color: @gray-dark;
                }
            }
        }

        > .mover {
            i {
                cursor: ns-resize;
            }
        }

        > .opener {
            i {
                .transition();
                font-size: 14px;

                &.open {
                    .transform(rotate(90deg));
                }
            }
        }

        > .field-name {
            flex: 10;
            padding:5px 5px;
            margin: auto;
            margin-left: 5px;
            font-size: 12px;

            .form-element-container{
                height: 20px;
                margin: 0;
                .singleline-input input{
                    outline: none;
                    box-sizing: border-box;
                    width: 100%;
                    display: block;
                    border:0;
                    height: 26px;
                    padding-left: 5px;               
                    line-height: 26px;
                    font-size: inherit;
                    border-radius: 3px;
                    &:focus{
                        outline: none;
                        box-sizing: border-box;
                        width: 100%;
                        display: block;
                        border:0;
                        padding-left: 5px;               
                        line-height: 26px;
                        font-size: inherit;
                        border-radius: 3px;
                        background-color:#009aa932;
                    }
                }
                .input-container{
                    border: none;
                    height: 20px;
                }
            }

            &.error {
                input {
                    border-bottom: 1px solid @red-light;
                    color: @red;
                }
            }
        }

        > .field-type {
            width: 100px;
            float: 6px;
            margin: auto;
            select {
                border:none;
                height: 26px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: 3px;
                background-color:#009aa932;
                margin-top: 4px;
                width:75px;
            }
        }

        &.header {
            font-weight: bold;
            font-size: 12px;
            border-bottom: 1px solid @gray;
        }

        &.single-plus{
            height: 0;
            align-content: center;
        }
        &.new {
            .transition();
            color: white;
            width: 100%;
            cursor: pointer;
            background-color: #009AA9;
            height: fit-content;
            .field-name {
                font-weight: 400;
                padding: 0;
                flex: 0;
                min-width: 60px;
            }

            .adder {
                height: 20px;
                text-align: center;
                padding-left: 20px;
                i {
                    font-weight: 800;
                    width: 14px;
                    font-weight: 100;
                }
            }

            &:hover {
                color: @blue-dark;
            }
        }

        &.dragging-source {
            & > * {
                opacity: 0;
            }

            background-color: @bw-planner-background;

            + .field-list-container {
                display: none;
                + .field-row.new {
                    display: none;
                }
            }
        }

        &.dragging-handle {

            border: 1px solid @gray-light;
            background-color: rgba(255,255,255,.6);

            input {
                background-color: transparent;
                border-bottom: 0;
            }

            & > .mover {
                i {
                    color: @gray-dark;
                }
            }

            & > .field-type,
            & > .remover,
            & > .opener {
                opacity: 0;
            }
        }

    }
}