@import './DSL';

.dsl-editor {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;

    .monaco-editor {
        // To avoid the editor having an impact on the container size we make it absolute.
        position: absolute;
        top: 0;
        left: 0;
    }
}
