.form-buttons {
    padding-top: 20px;
    text-align: right;

    button,
    a.button,
    input[type=submit],
    input[type=button] {
        &:last-child {
            margin-right: 0;
        }
    }

}