@import "../../../styles/values";
@import "../../../styles/functions";

.entity-picker {
    display: flex;
    flex-direction: row;

    select {
        margin-right:5px;
        border:1px solid @gray;
    }

    .picker-list-checkbox {
        display: none;
    }

    .picker-list-section {
        cursor: pointer;
    }

}