@import url('https://pro.fontawesome.com/releases/v5.10.1/css/all.css');
@import url('https://cdn.kapeta.com/fonts/avanir-next/AvanirNext.css');
@import url('https://cdn.myfontastic.com/o9dJLaBDyrGwy9A5g4m5p/icons.css');
@import url('./fonts.css');

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
input,
select {
    font-family: 'Avenir Next', 'Montserrat', Verdana, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html,
#storybook-root,
#storybook-root > div {
    height: 100%;
    width: 100%;
}

form {
    background-color: inherit;
}
