/**
COLORS
 */
@gray-xxdark: #333333;
@gray-xdark: #544B49;
@gray-dark: #999999;
@gray: #C4C4C4;
@gray-light: #efefef;
@gray-xlight: #fafafa;
@gray-xxlight: #fefefe;
@gray-background:#E7E2DD;

@blue-light: #1EA7FD;
@blue-xlight: lighten(@blue-light, 10%);
@blue-xxlight: lighten(@blue-xlight, 10%);
@blue-dark: #1d2b91;

@green-dark: #2d8e2b;
@green-light: #2d8e2b;
@green-xlight: lighten(@green-light, 10%);
@green-xxlight: lighten(@green-xlight, 10%);

@red-dark:#ad0e25;
@red: #d9534f;
@red-light:#f28f8c;
@red-xlight:lighten(@red-light, 25%);

@yellow-xlight: #ebeb839c;
@yellow-alert: #FCC024;

@bw-planner-background: #F5F1EE;
@bw-orange:#EE766A;
@bw-orange-light: #f3b5ad;
@bw-green: #989681;
@bw-green-light: #F5F1EE;
@bw-gray-light:#989681;
@bw-light-gray: @gray;
@bw-gray:#2E2323;

@bw-menu-default:@bw-orange;
@bw-menu-dark: @gray-xdark;
@bw-menu-category-icon-color: #F9DFDD;
@bw-menu-category-icon-color-hover: #FFFFFF;

@bw-service-bg: @bw-orange;
@bw-extension-bg: #D9D6CD;
@bw-database-bg: @bw-green;

/*  Button colors  */
@btn-bg: #A19C9D;
@btn-friendly-bg: #88B39A;
@btn-friendly-bg-active: #92CDAB;

@btn-cancel-bg:#E35A4C;
@btn-cancel-bg-active:#FA7B6E;
@btn-text-w:#fff;
@btn-fg: @bw-planner-background;
@btn-disabled-light:#E1DCD9;
@btn-disabled-dark:#C2BCB9;
@btn-disabled-path: #E5E5E5;
@btn-regular-text: #645C5A;
@btn-regular-hover-bg: @bw-menu-dark;
@btn-regular-active-bg: #FC9924;

/* States */
@status-success-fg: #155724;
@status-success-bg: #d4edda;
@status-success-border: #c3e6cb;

@status-danger-fg: #721c24;
@status-danger-bg: #f8d7da;
@status-danger-border: #f5c6cb;

@status-warning-fg: #856404;
@status-warning-bg: #fff3cd;
@status-warning-border: #ffeeba;

@status-info-fg: #0c5460;
@status-info-bg: #d1ecf1;
@status-info-border: #bee5eb;


/* VALUES */
@shadow-color: rgba(0, 0, 0, 0.15);
@shadow-default: 1px 1px 3px 0px @shadow-color;
@transition-default: all 150ms;